### Environmental Variables for Ignition/DB stack
IGN_TZ=America/New_York
IGN_VERSION=8.3.9
###Module IDs auto-accepted at first launch (licenses + certs)
IGN_ACCEPT=com.cirruslink.mqtt.distributor.gateway,com.cirruslink.mqtt.transmission.gateway,com.cirruslink.mqtt.engine.gateway
COMPOSE_PROFILES="corpGateway,siteGateway,siteEdgeGateway1,edgeGateway1,edgeGateway2,corpPostgres,sitePostgres,chariot"
###COMPOSE_PROFILES="chariot, edgeGateway1"


###Ignition Cooperate Variables
CORP_IGN_USERNAME=admin
CORP_IGN_PASSWORD=password
CORP_IGN_EDITION=standard
CORP_IGN_GATEWAY_NAME=corpGateway
CORP_IGN_GATEWAY_PORT=8189

###Ignition Site Variables
SITE_IGN_USERNAME=admin
SITE_IGN_PASSWORD=password
SITE_IGN_EDITION=standard
SITE_IGN_GATEWAY_NAME=siteGateway
SITE_IGN_GATEWAY_PORT=8190

###Ignition Site Edge1 Variables
EDGE_IGN_USERNAME=admin
EDGE_IGN_PASSWORD=password
EDGE_IGN_EDITION=edge
EDGE_IGN_GATEWAY_NAME=siteEdgeGateway1
EDGE_IGN_GATEWAY_PORT=8191

###Ignition Edge1 Variables
EDGE_IGN1_USERNAME=admin
EDGE_IGN1_PASSWORD=password
EDGE_IGN1_EDITION=edge
EDGE_IGN1_GATEWAY_NAME=edgeGateway1
EDGE_IGN1_GATEWAY_PORT=8192

###Ignition Edge2 Variables
EDGE_IGN2_USERNAME=admin
EDGE_IGN2_PASSWORD=password
EDGE_IGN2_EDITION=edge
EDGE_IGN2_GATEWAY_NAME=edgeGateway2
EDGE_IGN2_GATEWAY_PORT=8193

###POSTGRES Cooperate Variables
CORP_POSTG_DB=corpPostgres
CORP_POSTG_USER=ignition
CORP_POSTG_PASSWORD=ignition

###POSTGRES Site Variables
SITE_POSTG_DB=sitePostgres
SITE_POSTG_USER=ignition
SITE_POSTG_PASSWORD=ignition

###Chariot Variables
CHARIOT_NAME=chariot
CHARIOT_VERSION=latest
CHARIOT_ADMIN_PASSWORD=mypassword
CHARIOT_MQTT_PORT=1883
###Chariot license - the MQTT broker will NOT start without one.
###Set TYPE to "online" + a KEY, or "floating" + SERVER/PRODUCT. Blank = skip.
CHARIOT_LICENSE_TYPE=
CHARIOT_LICENSE_KEY=
